h1{
    color: darkviolet;
    font-size: x-large;
    text-align: center;
    margin-top: 30px;
}
p{
    font-size: large;
    font-weight: bold;
}
body{
    background-color:lightcyan;
    text-align: center;
    
}
.players{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
}
#roll-btn{
    margin-top: 50px;
    height: 50px;
    width: 90px;
    font-weight: bold;
    background-color:lightblue ;
    color: rgb(20, 84, 222);
    border-radius: 8px;
    border-color:rgb(20, 84, 222);
}